footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 22, 26);
  padding: 35px;
}

/* footer a {
  margin-top: 30px;
} */

footer img {
  height: 100px;
}

footer h4 {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
  }
}
