/* ------------------------global--------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  /* padding-top: 60px; */
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: lime;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* -----------------------------------navbar---------------------------- */
ul {
  list-style: none;
}

.nav_item a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: rgb(19, 22, 26);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-height: 60px;
}

.logo {
  color: #fff;
  font-size: 23px;
  letter-spacing: -1.5px;
  font-weight: 500;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav_list {
  display: flex;
  column-gap: 40px;
}

.nav_link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  transition: all 0.4s;
}

.nav_link:hover,
.nav_link:focus {
  color: rgba(150, 150, 150, 1);
  transform: scale(1.2);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 27px;
  background: white;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.nav--open {
  transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 750px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
  }

  .nav_list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav_link {
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

/* --------------------HOME------------------------------ */

.home {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin-bottom: 10px;
}

.home-img {
  background-image: url("/images/Logo.png");
  background-size: 100% 100%;
  width: 500px;
  height: 500px;
  transition: 1s ease-in-out;
  opacity: 1;
}

.home-img:hover {
  opacity: 0;
}

.home-content {
  width: 500px;
}

.home-content h1 {
  color: white;
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
}

.home-content p {
  color: white;
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  width: 345px;
  height: 50px;
  gap: 30px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 4s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 18px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
  }

  .home-content h1 {
    text-align: center;
  }

  .home-img {
    position: relative;
    overflow: hidden;
    display: none;
  }

  .btn-box {
    margin: 0 auto;
  }

  .btn-box a {
    width: 130px;
  }
}

.home-img:hover img {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .section-header {
    font-size: 50px;
  }
}
